<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="email" formControlName="email"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter email</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" formControlName="password"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter password</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
